:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: retro-font;
  src: url(PressStart2P-Regular.ttf);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 1.9em;
  line-height: 1.1;
}

button {
  border-radius: None;
  border: 2px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: blueviolet;
  background-color: blueviolet;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rainbow {
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
  font-family: 'Press Start 2P';
  letter-spacing: 0.15rem;
  color: #ffffff;
  text-shadow: 
    -4px 4px #fe0016, /* Nintendo red #fe0016*/
    -8px 8px blueviolet,
    -12px 12px yellowgreen;
  /* flex: 1; */
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
